@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply w-[131px] h-[52px] border-solid border-2 rounded-md border-indigo-800 px-8 py-3 text-navHire text-lg font-medium;

    transition: all 0.3s ease-in-out;
  }
  .btn:hover {
    @apply bg-indigo-400 text-white;
  }
  .btn-fill {
    @apply w-[131px] h-[52px] border-solid border-2 rounded-md border-indigo-800 bg-indigo-800 text-white px-8 py-3 text-lg font-medium;
    transition: all 0.3s ease-in-out;
  }

  .btn-fill:hover {
    @apply bg-white text-indigo-800;
  }

  .t-element {
    @apply py-2 pr-6 font-normal;
  }

  .t-header {
    @apply font-semibold;
  }

  .btn-skills {
    @apply border-solid border-2 rounded-md text-navHire font-medium px-4 py-2 border-navHire cursor-default;

    transition: all 0.3s ease-in-out;
  }

  .btn-skills:hover {
    @apply bg-navHire text-white;
  }
}
